<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logdir" value="${basedir}/logs/${date:format=yyyy}-${date:format=MM}" />
  <variable name="baseLayout" value="${longdate} [${uppercase:${level}}] ${message}" />
  <variable name="exceptionLayout" value="${exception:format=toString}${newline}${stackTrace:topFrame=10}" />

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console" 
            name="console"
            layout="${baseLayout}" />

    <target xsi:type="File" 
            name="infoFile" 
            fileName="${logdir}/event.log"
            layout="${baseLayout}"
            encoding="UTF-8"
            lineEnding="LF"
            archiveNumbering="Date"
            archiveFileName="${logdir}/archive/{#}-event.log"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7" />

    <target xsi:type="File" 
            name="errorFile" 
            fileName="${logdir}/error.log"
            layout="${baseLayout}${newline}${exceptionLayout}"
            encoding="UTF-8"
            lineEnding="LF"
            archiveNumbering="Date"
            archiveFileName="${logdir}/archive/{#}-error.log"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="console" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <logger name="*" minLevel="Info" maxLevel="Warn" writeTo="infoFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>